$color_1: white;

.crumblyy-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
}
#crumblyy-app {
	&:hover {
		.crumblyy-overlay {
			display: block;
			background: rgba(0, 0, 0, .3);
		}
		.crumblyy-button {
			opacity: 1;
		}
	}
}
.crumblyy-button {
position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
	a {
		width: 200px;
		padding: 12px 48px;
        text-align: center;
        text-decoration: none;
		color: $color_1;
		border: solid 2px white;
		z-index: 1;
	}
}
